<<<<<<< HEAD
:root {
=======
html {
>>>>>>> ee2c9c7cf800be7c9c07647421376db1883aa288
  --blue-color: #00acdc;
  --text-color: #000;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

<<<<<<< HEAD
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  padding: 0 50px;
}

.logo {
  display: block;
=======
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: space-between;
  box-sizing: border-box;
>>>>>>> ee2c9c7cf800be7c9c07647421376db1883aa288
}

.nav-list {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  margin: 0;
  padding: 0;
=======
  padding: 0;
  margin: 0;
>>>>>>> ee2c9c7cf800be7c9c07647421376db1883aa288
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
<<<<<<< HEAD
  padding: 0;

  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
=======
  font-size: 12px;
  line-height: normal;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 0;
>>>>>>> ee2c9c7cf800be7c9c07647421376db1883aa288
}

.nav-link:hover,
.nav-link.is-active {
  color: var(--blue-color);
}

.nav-link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
<<<<<<< HEAD

=======
>>>>>>> ee2c9c7cf800be7c9c07647421376db1883aa288
  height: 3px;
  background-color: var(--blue-color);
}
